/* Top Banner */
.btn-close-topbnr {
  position: absolute;
  top: 0;
  right: 5px;
  width: 56px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .btn-close-topbnr {
    width: 28px;
  }
}

/* Header */
.btn-open-sidemenu {
  position: relative;
  width: 44px;
}

.btn-open-search {
  width: 44px;
}

.btn-open-profile {
  width: 48px;
}

.btn-open-profile img {
  width: 30px;
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {
  .btn-open-sidemenu {
    width: 40px;
  }

  .btn-open-search {
    width: 40px;
  }

  .btn-open-profile {
    display: none;
  }
}

/* Sidemenu */
.sidemenu :is(.btn-open-number, .btn-logout) {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: var(--c-content);
  text-align: left;
  line-height: 40px;
}

/* Search */
.btn-remove-input {
  width: 48px;
}

.btn-remove-input--hide {
  display: none;
}

.btn-search {
  width: 44px;
  text-align: left;
}

.btn-cancel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: none;
  font-size: 1.4rem;
  color: var(--c-title);
}

@media screen and (max-width: 767px) {
  .btn-remove-input {
    width: 29px;
  }

  .btn-search {
    display: none;
  }

  .btn-cancel {
    width: 56px;
    display: block;
  }
}

/* Profile */
.profile .btn-logout {
  width: 100%;
  margin-top: 2rem;
  padding: 1.6rem 0;
  color: var(--c-title);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

/* Footer */
.btn-movetop {
  margin: 4rem 0;
}

@media screen and (max-width: 767px) {
  .btn-movetop {
    margin: 2rem 0;
  }
}

/* 일련번호 입력하기 팝업 */
.btn-regist-number {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0.6rem;
}

.btn-regist-number--active {
  color: var(--c-title);
  background-color: var(--c-kakao);
}

/* FAQ */
.btn-faq {
  padding: 0.6rem 1.2rem;
  font-size: 1.3rem;
  color: var(--c-title);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 1.5rem;
}

.faq__category--active .btn-faq {
  font-weight: 500;
  color: var(--c-white);
  background-color: #3b3b3b;
}

.btn-faq-item {
  width: 100%;
  padding: 2.4rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  color: var(--c-title);
  text-align: left;
}

.faq__item--on .btn-faq-item,
.btn-faq-item:hover {
  font-weight: bold;
}

.btn-faq-item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .btn-faq {
    font-size: 1.4rem;
    padding: 0.9rem 1.8rem;
    border-radius: 1.8rem;
  }

  .faq__item--on .btn-faq-item {
    font-size: 1.8rem;
  }
}

.btn-like {
  width: 36px;
  height: 36px;
  margin-top: 0.8rem;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
