.empty {
  padding: 8rem 0;
}

.empty__image {
  width: 105px;
  height: 105px;
  margin: 0 auto;
  display: block;
}

.empty__title {
  margin: 1rem 0 0.8rem;
  display: block;
  color: var(--c-title);
  font-size: 1.6rem;
  text-align: center;
}

.empty__desc {
  color: var(--c-content);
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .empty__image {
    width: 125px;
    height: 125px;
  }

  .empty__title {
    font-size: 2rem;
  }

  .empty__desc {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
