.footer {
  max-width: 1025px;
  margin: 0 auto;
  padding: 0 4rem;
  background: var(--bgc-footer);
}

.footer__services {
  padding-top: 3rem;
  display: flex;
  gap: 1.8rem;
}

.footer__service-link {
  font-size: 1.3rem;
  color: var(--c-content);
}

.footer__service-info {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: var(--c-content);
}

.footer__corp-label {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.2rem;
  color: var(--c-content);
  cursor: pointer;
}

.footer__corp-checkbox:checked ~ .footer__corp-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer__corp-wrapper {
  padding-top: 1rem;
  display: none;
}

.footer__corp-info {
  width: 50%;
}

.footer__corp-title,
.footer__corp-text {
  font-size: 1.2rem;
  color: var(--c-content);
  line-height: 1.8rem;
}

.footer__corp-title {
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--c-title);
}

.footer__movetop {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 2.4rem;
  }

  .footer__services {
    flex-direction: column;
  }

  .footer__corp-wrapper {
    gap: 1.8rem;
  }

  .footer__corp-info {
    width: 100%;
  }
}
