.series {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.series__header {
  padding-left: 2.4rem;
  display: inline-block;
  cursor: pointer;
}

.series__title {
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.series__list {
  position: relative;
  padding: 1rem 0;
  white-space: nowrap;
  transform: translate(0, 0);
}

.series__item {
  padding-left: 1rem;
  display: inline-block;
}

.series__item:first-child {
  padding-left: 2.4rem;
}

.series__item:last-child {
  padding-right: 2.4rem;
}

.series__link {
  display: block;
  padding: 2rem;
  background-color: var(--c-series-link);
  border-radius: 1rem;
  cursor: pointer;
  -webkit-user-drag: none;
}

.series__name {
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--c-white);
  background-color: var(--c-series-name);
  border-radius: 1.5rem;
}

.series__emoticons {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.series__emoticon {
  width: 64px;
  height: 64px;
  -webkit-user-drag: none;
}

@media screen and (min-width: 768px) {
  .series__header {
    padding: 0;
  }

  .series__title {
    font-size: 2.4rem;
  }

  .series__list {
    padding: 3rem 0;
    display: flex;
    gap: 3rem;
  }

  .series__item {
    padding: 0;
  }

  .series__item:first-child,
  .series__item:last-child {
    padding: 0;
  }

  .series__item:last-child {
    visibility: hidden;
  }

  .series__name {
    padding: 0.8rem 1.8rem;
    border-radius: 1.8rem;
  }

  .series__emoticon {
    width: 72px;
    height: 72px;
  }
}

@media screen and (min-width: 1024px) {
  .series__list {
    gap: 0rem;
    justify-content: space-between;
  }

  .series__item:last-child {
    visibility: visible;
  }

  .series__link:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  }
}
