/* Common */
@import './reset.css';
@import './variable.css';

/* Components */
@import './components/topbnr.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/button.css';
@import './components/icon.css';
@import './components/empty.css';
@import './components/gift.css';
@import './components/series.css';
@import './components/coupon.css';

/* Pages */
@import './pages/home.css';
@import './pages/new.css';
@import './pages/hot.css';
@import './pages/style.css';
@import './pages/mypage.css';
@import './pages/notice.css';
@import './pages/faq.css';
@import './pages/number.css';

.kakao-wrap {
  position: relative;
  height: 100%;
}

.kakao-wrap--overlaid {
  max-height: 100vh;
  overflow: hidden;
}

.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
