@charset "UTF-8";
.main_mypage {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 40px 32px;
	box-sizing: border-box
}

.main_mypage .tit_mypage .txt_tit {
	display: inline-block;
	padding: 40px 0 21px;
	font-size: 18px;
	line-height: 27px;
	font-weight: normal;
	font-family: "notokr-bold", sans-serif
}

.main_mypage .tit_mypage .list_tit {
	padding: 40px 0 21px;
	font-size: 18px;
	line-height: 27px;
	font-weight: normal
}

.main_mypage .tit_mypage .tit_num {
	display: inline-block;
	margin-left: 4px;
	font-size: 18px;
	line-height: 22px;
	font-family: "helvetica", "helvetica neue";
	font-weight: bold;
	color: #fa4637
}

.main_mypage .list_tit li {
	display: inline-block;
	margin-right: 20px
}

.main_mypage .list_tit li.on .link_tit {
	font-family: "notokr-bold", sans-serif;
	line-height: 27px;
	color: #191919;
	font-weight:bold;
}

.main_mypage .list_tit li.on .num_tit {
	font-weight: bold;
	color: #fa4637
}

.main_mypage .list_tit li .num_tit {
	display: inline-block;
	margin: 0 0 0 4px;
	font-family: "helvetica", "helvetica neue";
	line-height: 27px
}

.main_mypage .list_tit li .link_tit {
	color: #999
}

.main_mypage .list_item {
	border-top: 1px solid #3b3b3b
}

.main_mypage .list_item:after {
	display: block;
	overflow: hidden;
	clear: both;
	width: 0;
	height: 0;
	content: ""
}

.main_mypage .list_item .item_unit {
	float: left;
	width: 50%;
	padding-top: 30px;
	box-sizing: border-box;
	padding-bottom: 30px
}

.main_mypage .list_item .item_unit:nth-child(odd) {
	position: relative;
	padding-right: 16px
}

.main_mypage .list_item .item_unit:nth-child(odd):after {
	position: absolute;
	width: 200%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .04);
	content: ""
}

.main_mypage .list_item .item_unit:nth-child(even) {
	padding-left: 16px
}

.main_mypage .list_item .date_item {
	display: inline-block;
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 19px;
	font-family: "helvetica", "helvetica neue"
}

.main_mypage .list_item .area_itemlist:after {
	display: block;
	clear: both;
	height: 0;
	content: ""
}

.main_mypage .list_item .item_list {
	float: left;
	width: 50%;
	overflow: hidden
}

.main_mypage .list_item .item_list+.item_list {
	margin-bottom: 14px
}

.main_mypage .list_item .item_list dt {
	display: inline-block;
	width: 48px;
	font-size: 12px;
	line-height: 21px;
	color: #7f7f7f
}

.main_mypage .list_item .item_list dd {
	display: inline-block;
	width: calc(100% - 53px);
	box-sizing: border-box;
	padding-left: 14px;
	font-size: 13px;
	line-height: 21px;
	color: #3b3b3b
}

.main_mypage .list_item .item_list dd.txt_price {
	color: #fa4637
}

.main_mypage .list_item .item_list .txt_num {
	font-family: "helvetica", "helvetica neue"
}

.main_mypage .list_item .area_item .link_item {
	display: table;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 24px;
	background-color: #fafafa;
	border-radius: 6px
}

.main_mypage .list_item .area_item .link_item:hover {
	background-color: #f5f5f5
}

.main_mypage .list_item .area_item .link_item:hover>.area_tit .txt_tit {
	font-family: "notokr-bold", sans-serif;
	border-bottom: 1px solid #000
}

.main_mypage .list_item .area_item .link_item .ico_expand3 {
	position: absolute;
	bottom: 0;
	right: 0
}

.main_mypage .list_item .area_item .area_tit {
	display: table-cell;
	overflow: hidden;
	vertical-align: middle;
	width: calc(100% - 64px - 16px);
	max-width: 200px;
	box-sizing: border-box
}

.main_mypage .list_item .area_item .area_tit .tit_product {
	position: relative;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	font-weight: normal
}

.main_mypage .list_item .area_item .area_tit .tit_product .area_icons {
	float: right
}

.main_mypage .list_item .area_item .area_tit .tit_product .ico_new {
	margin: 4px 0 0 4px
}

.main_mypage .list_item .area_item .area_tit .tit_product .ico_sound {
	margin: 5px 0 0 4px
}

.main_mypage .list_item .area_item .area_tit .tit_product .txt_tit {
	display: block;
	overflow: hidden;
	height: 20px;
	margin-bottom: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
	line-height: 22px;
	word-wrap: break-word;
	font-family: "notokr-regular"
}

.main_mypage .list_item .area_item .area_tit .txt_author {
	display: block;
	margin-top: -3px;
	color: #7f7f7f;
	font-size: 13px;
	line-height: 19px;
	font-family: "notokr-regular";
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.main_mypage .list_item .area_item .area_itememoticon {
	display: table-cell;
	position: relative;
	width: 64px;
	min-width: 64px;
	max-width: 64px;
	padding: 0 0 0 16px;
	vertical-align: middle
}

.main_mypage .list_item .area_item .img_emot {
	display: inline-block;
	width: 100%
}