.faq {
  padding-top: calc(var(--h-topbnr) + var(--h-header));
  padding-bottom: 3rem;
  background-color: var(--bgc-faq);
}

.faq__header {
  position: relative;
  padding: 2.4rem 0;
  overflow: hidden;
}

.faq__title {
  padding-left: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
}

.faq__categories {
  width: 100%;
  white-space: nowrap;
  transform: translateX(0px);
  user-select: none;
}

.faq__category {
  display: inline-block;
  padding-right: 0.8rem;
  user-select: none;
}

.faq__category:first-child {
  padding-left: 2.4rem;
}

.faq__category:last-child {
  padding-right: 2.4rem;
}

.faq__banner {
  display: none;
}

.faq__list {
  display: none;
}

.faq__list--active {
  display: block;
}

.faq__item {
  position: relative;
  margin-bottom: 0.6rem;
  background-color: var(--bgc-faq-content);
}

.faq__desc {
  display: none;
  padding: 2.4rem;
  padding-top: 0;
  font-size: 1.3rem;
  color: var(--c-content);
  line-height: 2.4rem;
}

.faq__item--on .faq__desc {
  display: block;
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 4rem;
    padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
  }

  .faq__header {
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    padding: 4rem 0;
    overflow: hidden;
  }

  .faq__title {
    padding-left: 0rem;
    margin-bottom: 2.4rem;
    font-size: 2.8rem;
  }

  .faq__categories {
    width: 100%;
    white-space: nowrap;
    transform: translateX(0px);
    user-select: none;
  }

  .faq__category {
    display: inline-block;
    padding-right: 0.8rem;
    user-select: none;
  }

  .faq__category:first-child {
    padding-left: 0rem;
  }

  .faq__category:last-child {
    padding-right: 0rem;
  }

  .faq__banner {
    position: absolute;
    bottom: 0;
    right: 4rem;
    width: 90px;
    height: 90px;
    display: block;
  }

  .faq__content {
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
  }

  .faq__desc {
    font-size: 1.4rem;
  }
}
