.home {
  padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
}

.home__banner[data-slick-index='0'],
.home__banner[data-slick-index='2'] {
  background-color: #12a878;
}

.home__banner[data-slick-index='-1'],
.home__banner[data-slick-index='1'] {
  background-color: #5fcade;
}

.home__banner-image {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

.slick-dots {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.slick-dots button {
  width: 8px;
  height: 8px;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 50%;
}

.slick-active button {
  background-color: #3b3b3b;
}

@media screen and (max-width: 767px) {
  .slick-dots button {
    width: 6px;
    height: 6px;
  }
}

/* New Tab */
.home__newtab {
  padding-top: 2.4rem;
}

.home__inner-newtab {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.home__title-newtab {
  padding-left: 2.4rem;
  margin-bottom: 1rem;
}

.home__title-link {
  font-size: 1.8rem;
  color: var(--c-title);
}

.home__list-newtab {
  white-space: nowrap;
  padding: 1rem 1.6rem;
  transform: translate(0, 0);
  user-select: none;
}

.home__item-newtab {
  padding: 1rem 0.8rem;
  display: inline-block;
  user-select: none;
}

.home__item-newtab:last-child {
  padding-right: 2.4rem;
}

.home__link-newtab {
  width: 174px;
  display: block;
  padding: 3rem 0 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  -webkit-user-drag: none;
}

.home__newimg-default,
.home__newimg-hover {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
  -webkit-user-drag: none;
}

.home__newimg-hover {
  display: none;
}

.home__newimg-desc {
  margin-bottom: 1rem;
  padding: 1rem 2rem 0;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--c-title);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .home__newtab {
    padding: 3rem;
  }

  .home__title-newtab {
    padding: 0 4rem;
  }

  .home__title-link {
    font-size: 2.4rem;
  }

  .home__list-newtab {
    white-space: normal;
  }

  .home__item-newtab {
    float: left;
    width: 25%;
  }

  .home__item-newtab:nth-child(9),
  .home__item-newtab:nth-child(10) {
    display: none;
  }

  .home__link-newtab {
    width: 100%;
    display: block;
    padding: 3rem 0 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  }
}

@media screen and (min-width: 1024px) {
  .home__item-newtab {
    float: left;
    width: 20%;
  }

  .home__item-newtab:nth-child(9),
  .home__item-newtab:nth-child(10) {
    display: block;
  }

  .home__item-newtab:last-child {
    padding-right: 0.8rem;
  }

  .home__item-newtab:hover .home__newimg-desc {
    text-decoration: underline;
  }

  .home__item-newtab:hover .home__newimg-default {
    display: none;
  }

  .home__item-newtab:hover .home__newimg-hover {
    display: block;
  }
}

/* Hot Tab */
.home__hottab {
  width: 100%;
  padding: 3rem 0;
}

.home__inner-hottab {
  max-width: 1024px;
  margin: 0 auto;
}

.home__title-hottab {
  padding-left: 2.4rem;
  margin-bottom: 1rem;
}

.home__list-hottab-wrapper {
  display: flex;
}

.home__list-hottab {
  width: 100%;
  padding: 0 2.4rem;
  cursor: pointer;
}

.home__list-hottab:last-child {
  display: none;
}

.home__item-hottab {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.home__item-hottab::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.04);
}

.home__rank {
  width: 24px;
  font-size: 2.6rem;
}

.home__rank--highlight {
  color: var(--c-highlight);
}

.home__infos-hottab {
  flex: 1;
}

.home__name-hottab {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 1.6rem;
  color: var(--c-title);
}

.home__author-hottab {
  display: block;
  font-size: 1.4rem;
  color: var(--c-content);
}

.home__hotimg-default,
.home__hotimg-hover {
  display: block;
  width: 76px;
  height: 76px;
}

.home__hotimg-hover {
  display: none;
}

@media screen and (min-width: 768px) {
  .home__hottab {
    padding: 3rem;
    padding-bottom: 6rem;
  }

  .home__list-hottab {
    float: left;
  }

  .home__list-hottab:last-child {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .home__item-hottab:hover .home__name-hottab {
    text-decoration: underline;
  }

  .home__item-hottab:hover .home__hotimg-default {
    display: none;
  }

  .home__item-hottab:hover .home__hotimg-hover {
    display: block;
  }
}

/* Style Tab */
.home__styletab {
  background-color: #fafafa;
  padding: 3rem 0;
}

.home__inner-styletab {
  max-width: 1024px;
  margin: 0 auto;
}

.home__title-styletab {
  padding-left: 2.4rem;
  margin-bottom: 1rem;
}

.home__style-area {
  margin-bottom: 2rem;
  padding-top: 1rem;
  overflow: hidden;
}

.home__style-area:last-child {
  margin: 0;
}

.home__style-header {
  padding-left: 2.4rem;
  padding-bottom: 1rem;
}

.home__style-header-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__style-text {
  display: inline-block;
  font-weight: bold;
}

.home__style-text:first-child {
  font-size: 1.8rem;
}

.home__style-text:last-child {
  padding: 0.6rem 1.2rem;
  font-size: 1.3rem;
  color: var(--c-white);
  border-radius: 1.6rem;
}

.home__style-text--kakao:first-child {
  color: rgb(244, 196, 0);
}

.home__style-text--kakao:last-child {
  background-color: rgb(244, 196, 0);
}

.home__style-text--message:first-child {
  color: #c0c2f9;
}

.home__style-text--message:last-child {
  background-color: #c0c2f9;
}

.home__style-text--illust:first-child {
  color: #b1e08b;
}

.home__style-text--illust:last-child {
  background-color: #b1e08b;
}

.home__styles {
  white-space: nowrap;
  transform: translate(0, 0);
  user-select: none;
}

.home__style {
  padding-right: 0.8rem;
  display: inline-block;
  user-select: none;
}

.home__style:first-child {
  padding-left: 2.4rem;
}

.home__style:last-child {
  padding-right: 2.4rem;
}

.home__style-image {
  display: block;
  width: 96px;
  height: 96px;
}

@media screen and (min-width: 768px) {
  .home__styletab {
    padding: 6rem 3rem;
  }

  .home__style-area {
    display: flex;
  }

  .home__style-header {
    width: 25%;
  }

  .home__style-header-link {
    flex-direction: column;
    align-items: flex-start;
  }

  .home__style-text:first-child {
    font-size: 2rem;
  }

  .home__style-text:last-child {
    font-size: 1.4rem;
  }

  .home__styles {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .home__style:nth-child(5),
  .home__style:nth-child(6),
  .home__style:nth-child(7) {
    display: none;
  }

  .home__style-image {
    width: 124px;
    height: 124px;
  }
}

@media screen and (min-width: 1024px) {
  .home__style-header {
    width: 25%;
  }

  .home__style:nth-child(5) {
    display: block;
  }

  .home__style:nth-child(6),
  .home__style:nth-child(7) {
    display: none;
  }
}
