/* MYPAGE */
.mypage {
  padding-top: calc(var(--h-topbnr) + var(--h-header));
}

/* MYPAGE HEADER */
.mypage__header {
  width: 100%;
  background-color: var(--bgc-mypage-header);
}

.mypage__inner-header {
  position: relative;
  padding: 2.5rem 0 1.8rem;
  overflow: hidden;
}

.mypage__title {
  margin-bottom: 1rem;
  padding: 0 2.4rem;
  font-size: 1.8rem;
  color: var(--c-white);
}

.mypage__banner-image {
  display: none;
}

.mypage__menus {
  width: 100%;
  white-space: nowrap;
  transform: translateX(0px);
  user-select: none;
}

.mypage__menu {
  display: inline-block;
  padding-right: 0.8rem;
  user-select: none;
}

.mypage__menu:first-child {
  padding-left: 2.4rem;
}

.mypage__menu:last-child {
  padding-right: 2.4rem;
}

.mypage__link {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #5786d7;
  border-radius: 18px;
  -webkit-user-drag: none;
  user-select: none;
}

.mypage__count {
  margin-left: 0.4rem;
}

.mypage__menu--active .mypage__link {
  font-weight: bold;
  color: #5786d7;
  background-color: #fff;
}

.mypage__menu--active .mypage__count {
  font-weight: bold;
  color: var(--c-highlight);
}

@media screen and (min-width: 768px) {
  .mypage {
    padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
  }

  .mypage__inner-header {
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 1.8rem;
  }

  .mypage__title {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }

  .mypage__banner-image {
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .mypage__menu:hover .mypage__link {
    font-weight: bold;
    color: #5786d7;
    background-color: #fff;
  }

  .mypage__menu:hover .mypage__count {
    font-weight: bold;
    color: var(--c-highlight);
  }
}

/* MYPAGE CONTENT */
.mypage__main {
  padding: 0 2.4rem;
}

.mypage__categories {
  padding: 2.2rem 0 1.2rem;
  display: flex;
  gap: 1.4rem;
}

.mypage__category {
  visibility: hidden;
  font-size: 1.5rem;
  color: var(--c-content);
}

.mypage__category--show {
  visibility: visible;
}

.mypage__category--active {
  font-weight: bold;
  color: var(--c-title);
}

.mypage__category-link {
  color: var(--c-content);
}

.mypage__category--active .mypage__category-link {
  font-weight: bold;
  color: var(--c-title);
}

.mypage__category--active .mypage__count {
  color: var(--c-highlight);
}

.mypage__notices {
  padding: 2.4rem 0 1.8rem;
}

.mypage__notice {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  color: var(--c-content);
}

.mypage__notice::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #ccc;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .mypage__main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4rem 2rem;
  }

  .mypage__categories {
    padding: 4rem 0 2rem;
    gap: 1.8rem;
  }

  .mypage__categories--multiple {
    border-bottom: 1px solid #191919;
  }

  .mypage__category {
    visibility: visible;
    font-size: 1.8rem;
  }

  .mypage__gifts,
  .mypage__coupons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .mypage__notices {
    padding-top: 2.8rem;
  }
}
