.new {
  padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
}

.new__banner {
  position: relative;
  padding: 2.8rem 2.4rem;
  background-color: #ffe56a;
}

.new__title {
  font-size: 2rem;
  font-weight: bold;
  color: #653519;
  line-height: 3rem;
}

.new__title--highlight {
  color: #ff5220;
}

.new__list {
  padding: 2rem 2.4rem;
}

.new__item {
  position: relative;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.new__item::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.new__name {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 1.6rem;
  color: var(--c-title);
}

.new__author {
  display: block;
  font-size: 1.3rem;
  color: var(--c-content);
}

.new__images {
  display: flex;
}

.new__image {
  width: 76px;
}

.new__images .new__image:not(:nth-child(1)) {
  display: none;
}

.new__image-default,
.new__image-hover {
  width: 100%;
  height: 100%;
}

.new__image-hover {
  display: none;
}

@media screen and (min-width: 768px) {
  .new__banner {
    padding: 0;
  }

  .new__inner-banner {
    position: relative;
    max-width: 1024px;
    padding: 6rem 4rem;
    margin: 0 auto;
  }

  .new__inner-banner::after {
    position: absolute;
    content: '';
    right: 40px;
    bottom: 0;
    width: 424px;
    height: 100%;
    background: url('../../images/banner-new.png') no-repeat;
    background-size: 424px 210px;
  }

  .new__title {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  .new__list {
    padding: 2rem 4rem;
  }

  .new__item {
    padding: 4rem 0;
  }

  .new__info {
    min-width: 200px;
  }

  .new__name {
    font-size: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .new__author {
    font-size: 1.4rem;
  }

  .new__images {
    display: flex;
  }

  .new__image {
    width: 100%;
    height: 100%;
    max-width: 124px;
    max-height: 124px;
    margin-left: 2.5rem;
  }

  .new__images .new__image:not(:nth-child(1)) {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .new__list {
    max-width: 1024px;
    margin: 0 auto;
  }

  .new__item:hover .new__name {
    text-decoration: underline;
  }

  .new__item:hover .new__image-default {
    display: none;
  }

  .new__item:hover .new__image-hover {
    display: block;
  }

  .new__item:hover .btn-like {
    display: flex;
  }
}
