.notice {
  padding-top: calc(var(--h-topbnr) + var(--h-header));
  padding-bottom: 3rem;
  background-color: var(--bgc-notice);
}

.notice__header {
  position: relative;
  max-width: 944px;
  margin: 0 auto;
  padding: 2.4rem;
  color: var(--c-title);
}

.notice__title {
  font-size: 1.8rem;
}

.notice__banner {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 2.4rem;
  bottom: 0;
}

.notice__content {
  max-width: 944px;
  height: 100%;
  min-height: 360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-notice-content);
}

@media screen and (min-width: 768px) {
  .notice {
    padding: 4rem;
    padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
  }

  .notice__header {
    padding: 4rem 0;
  }

  .notice__title {
    font-size: 2.8rem;
  }

  .notice__banner {
    width: 100px;
    height: 100px;
  }
}
