.style {
  padding-top: calc(var(--h-topbnr) + var(--h-header) + var(--h-nav));
  overflow: hidden;
}

.style__banner {
  position: relative;
  padding: 2.8rem 2.4rem;
  background-color: #ff8152;
}

.style__title {
  font-size: 2rem;
  font-weight: bold;
  color: #723210;
  line-height: 3rem;
}

.style__title--highlight {
  color: #fff;
}

.style__categories {
  padding: 2.4rem 0;
  user-select: none;
  white-space: nowrap;
  transform: translate(0, 0);
}

.style__category {
  padding-right: 1.6rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--c);
  user-select: none;
  cursor: pointer;
}

.style__category:first-child {
  padding-left: 2.4rem;
}

.style__category:last-child {
  padding-right: 2.4rem;
}

@media screen and (min-width: 768px) {
  .style__banner {
    padding: 0;
  }

  .style__inner-banner {
    position: relative;
    max-width: 1024px;
    padding: 6rem 4rem;
    margin: 0 auto;
  }

  .style__inner-banner::after {
    position: absolute;
    content: '';
    right: 40px;
    bottom: 0;
    width: 424px;
    height: 100%;
    background: url('../../images/banner-style.png') no-repeat;
    background-size: 424px 210px;
  }

  .style__title {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  .style__categories {
    padding: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .style__content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 4rem;
  }
}
